body{
    background-color:#069578;;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
}

input {
    border: 1px solid black;
    background-color: rgb(204, 218, 16);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}
button{
    
     /* border: 2px solid blueviolet; */
    background-color: #069578;
    padding: 5px;
    border: 1px solid rgb(185, 18, 135);
    margin-top: 5px;
    

}
.form1{
     background-color: rgb(47, 65, 39); 
    border: 3px solid rgb(185, 18, 135);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
#abcd{
    align-self: center;
}